
@{ 
    int a = 34;
    int b = 34;
    int c = a + b;
}


<html>
<head>
    <title>
        getbook
    </title>
</head>
<body>
    <h1>this is HTML code</h1>
    <h1>Sum is = @c</h1>
</body>
</html>
